@import "./base.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* RESET CSS */
ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #4D4D4D;
}

/* CABECARIO */

.caixa-esquerda{
  padding: 3% 0 0 3%

}

.caixa-linguagem {
  margin-top: 25px;
}

.texto-linguagem {
  font-size: 18px;
}

.lista-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.lista-menu-font {
  font-family: Roboto;
  font-size: 18px;
}

.vetor-rosa {
  position: absolute;
  left: 3%;
}

.borda-container {
  border: 1px solid black;
}

/* HOME */



/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */