@import "./base.css";
@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* RESET CSS */
*,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li a,
a {
  text-decoration: none;
  color: #4D4D4D;
}

/* PADROES */
* {
  font-family: Roboto;
}


/* CABECARIO */

.borda-container {
  border: 1px solid black;
}

.caixa-svg-rosa {
  width: 660px;
  height: 616px;
  position: absolute;
  left: -18%;
}

.svg-rosa {
  width: 100%;
}

.caixa-profissao {
  margin: 0px 0 16px 0
}

.caixa-menu {
  margin-top: 32px;
}

.menu li {
  margin-left: 36px;
}


/* HOME */

.profissao,
.txt-caveat-38 {
  font-family: Caveat;
  font-size: 38px;
  color: #710234;
}

.bolinha {
  border-radius: 60px;
  width: 56px;
  height: 56px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 25%);
}

.caixa-desc {
  margin-top: 36px;
}

.card-projetos {
  height: 329px;
  width: 329px;
  margin: 21.5px 0;
  border-radius: 50px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

/* FOOTER */
.caixa-footer {
  background-color: #710234;
}

.txt-footer {
  font-family: Roboto;
  font-weight: 500;
  color: #fff;
  padding: 8px 0;
}


/* RESPONSIVIDADE */
@media (max-width: 389.98px) {

  /* CABECARIO */
  .caixa-svg-rosa {
    width: 271.35px;
    height: 252.98px;
    top: -2%;
    left: -40%;
  }

  .caixa-profissao {
    margin-top: 12%;
  }

  .profissao {
    font-size: 22px;
  }

  .txt-caveat-22 {
    font-size: 22px;
  }

  .txt-skills {
    font-size: 16px;
  }

  .card-projetos {
    width: 154px;
    height: 145px;
    border-radius: 24px;
    padding-bottom: 32px;
  }

  .txt-desc-projeto {
    font-size: 18px;
    padding-top: 15px;
  }

  .desktop img {
    height: 71px;
  }

  .mobile img {
    height: 82px;
  }
}

@media (min-width: 390px) and (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px) and (max-width: 1599.98px) {}

@media (min-width: 1600px) and (max-width: 1799.98px) {}